.main-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(222, 223, 226);
}

.body-container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.info-container {

    padding: 20px;
    background-color: #fff;
}

.select-today {
    width: 80%;
    margin: 0 auto 30px;
}