.break-container {}

.break-time {
    display: flex;
    justify-content: space-evenly;
    background-color: gray;
}

.break-time h3 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    text-align: center;

}