.break-time {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(222, 223, 226);
    position: relative;
    padding: 10px;
    border-radius: 10px;
}

.break-time button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    border: none;
}

.break-time button:focus {
    background-color: #08CFFF;
}

.break-container h3 {
    padding: 20px;
    background-color: rgb(222, 223, 226);
    border-radius: 10px;
}